<a code="{{code}}" class="show wp100 in-ba plr20 mt20 fs28" id="ltCustAddr" ltProvince="{{province}}" ltCity="{{city}}" ltArea="{{district}}" ltAddress="{{detailAddress}}" applyName="{{addressee}}" applyMobile="{{mobile}}">
    <p class="fs28 t_bold pr16">
        <span id="addressee">{{addressee}}</span>
        <span id="mobile" class="pl10">{{mobile}}</span>
    </p>
    <p class="fs24 pr16 t_323232">
        <span class="pr10">{{province}}</span><span class="pr10">{{city}}</span>
        <span class="pr10">{{district}}</span>
        <span>{{detailAddress}}</span>
    </p>
    <i class="r-tip"></i>
</a>